# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
*.egg-info/
dist/
*.egg

# Virtual environment
venv/

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo
*.swn

# Logs
*.log

# Environment variables
.env
.env.*

# Flask instance folder
instance/

# Flask session files
flask_session/
